<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>정부정책리스트</title>
</head>

<body>
	<div layout:fragment="content" class="container my-5">
		<div>
			<div class="mb-2">
				<!-- 드롭다운 메뉴 -->
				<select id="regionSelect">
					<option value="">지역 선택(전체)</option>
					<optgroup label="특별시">
						<option value="11000">서울특별시</option>
					</optgroup>
					<optgroup label="광역시">
						<option value="26000">부산광역시</option>
						<option value="27000">대구광역시</option>
						<option value="28000">인천광역시</option>
						<option value="29000">광주광역시</option>
						<option value="30000">대전광역시</option>
						<option value="31000">울산광역시</option>
						<option value="36110">세종특별자치시</option>
					</optgroup>
					<optgroup label="도">
						<option value="41000">경기도</option>
						<option value="42000">강원특별자치도</option>
						<option value="43000">충청북도</option>
						<option value="44000">충청남도</option>
						<option value="45000">전북특별자치도</option>
						<option value="46000">전라남도</option>
						<option value="47000">경상북도</option>
						<option value="48000">경상남도</option>
						<option value="50000">제주특별자치도</option>
					</optgroup>
				</select>
				<h6 ><strong>담당 기관은 지역 선택과는 무관하며 여러 지역에 걸쳐 시행하는 정책의 경우 담당기관과 지역 이름이 다를 수 있습니다.</strong></h6>
			</div>

			<table style="width: 100%;">
				<thead>
					<tr class="text-center">
						<th class="border border-black">번호</th>
						<th class="border border-black">정책 이름</th>
						<th class="border border-black">신청 기간</th>
						<th class="border border-black">담당 기관</th>
						<th class="border border-black">즐겨 찾기</th>
					</tr>
				</thead>
				<tbody>
					<script src="/js/gov_list.js"></script>
				</tbody>
			</table>
			<div id="pagination" class="text-center my-4"></div>
		</div>
	</div>
</body>

</html>