<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>정부정책리스트</title>
</head>

<body>
<div layout:fragment="content" class="container my-5">
	<div>
		<table style="width: 100%;">
			<thead>
				<tr class="text-center">
					<th class="border border-black">번호</th>
					<th class="border border-black">정책 이름</th>
					<th class="border border-black">신청 기간</th>
					<th class="border border-black">담당 기관</th>
					<th class="border border-black">즐겨 찾기</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>
</body>

</html>