<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>환영합니다. 취업 다이어리 입니다.</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
<div layout:fragment="content" class="container my-5">

	<!-- 다이어리 배경 이미지 -->
	<div class="background-container">
		
	</div>

	<div class="main-layout">
		<!-- 왼쪽 큰 2단 박스 -->
		<div class="left-section">
			<div class="top-box">
			<!-- 위쪽 컨텐츠 (예: 이미지, 소개 등) -->
			
			</div>

			<div class="bottom-box">
				<!-- 로그인 박스 -->
				<div th:if="${#authentication == null or #authentication.name == 'anonymousUser'}">
					<form th:action="@{/user/login}" method="post" class="login-box">
						<h3 class="mb-4 text-center text-white">로그인</h3>
						<input type="text" name="username" class="form-control mb-2" placeholder="아이디" required>
						<input type="password" name="password" 
						  	   class="form-control mb-3" placeholder="비밀번호"
							   required>
						<div class="text-center">
							<button type="submit" class="btn btn-outline-dark btn-sm">로그인</button>
							<a href="/oauth2/authorization/naver">
								<img src="https://static.nid.naver.com/oauth/big_g.PNG" alt="네이버 로그인"
									 style="height:33px;">
							</a>
						</div>
						<div class="text-end mt-2">
							<a href="/user/signup" class="btn btn-outline-dark btn-sm">회원가입</a>
						</div>
					</form>
				</div>
				<!-- 로그인 된 경우 -->
				<div th:if="${#authentication != null and #authentication.name != 'anonymousUser'}"
					 class="login-box text-center">
					<p><b th:text="${#authentication.name}"></b> 님 환영합니다!</p>
					<form th:action="@{/logout}" method="post" class="d-inline">
						<button type="submit" 
								class="btn btn-outline-primary btn-sm"
								style="font-weight: bold;">로그아웃</button>
					</form>
				</div>
			</div>
		</div>

		<!-- 오른쪽 버튼 박스 -->
		<div class="right-section">
			<a th:href="@{/saramin/search}" class="side-button bg-success text-white">사람인</a>
			<a th:href="@{/gov/list}" class="side-button bg-primary text-white">정부 정책</a>
			<a th:href="@{/calendar}" class="side-button bg-warning text-white">취업 달력</a>
			<a th:href="@{/diary}" class="side-button bg-info text-white">다이어리</a>
		</div>

	</div>
</div>
</body>

</html>