header {
    background-color: #ffc5dc;
    padding: 15px;
    color: white;
    text-align: center;
}

.login-box {
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
}

.session-container {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.session-box {
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #bbb;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3a803d;

    color: white;
}

tr:hover {
    background-color:  #f9f9f9;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

