<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>M3 Project</title>
    <style>
        .naver-login-btn {
            background-color: #1EC800;
            color: white;
            padding: 12px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-weight: bold;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1>로그인 페이지</h1>

<div>
    <a href="/oauth2/authorization/naver" class="naver-login-btn">
        네이버로 로그인
    </a>
</div>

</body>
</html>
