<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>mainPage</title>
</head>
<body>
<div layout:fragment="content" class="container my-2">

  <div class="d-flex justify-content-center" style="margin-top: 200px;">
    <div class="row border rounded" style="max-width: 800px; width: 100%; height: 330px;">

      <!-- 왼쪽 세션 박스 -->
      <div class="col-md-5 d-flex flex-column justify-content-between p-0"><!--items-center 센터-->
        <div class="flex-fill bg-success text-white text-center d-flex align-items-center justify-content-center">
          <div>클릭!<br><small>사람인 or 잡코리아</small></div>
        </div>
        <div class="flex-fill bg-primary text-white text-center d-flex align-items-center justify-content-center">
          <div>클릭!<br><small>정부 취업관련</small></div>
        </div>
        <div class="flex-fill bg-warning text-black text-center d-flex align-items-center justify-content-center">
          <div>클릭!<br><small>취업 달력</small></div>
        </div>
      </div>


      <!-- 오른쪽 로그인 폼 -->
      <div class="col-md-7 bg-light p-4 d-flex flex-column justify-content-center">
        <form th:action="@{/login}" method="post">
          <h3 class="mb-4">로그인</h3>

          <div class="mb-3">
            <label for="username" class="form-label">아이디</label>
            <input type="text" id="username" name="username" class="form-control">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" id="password" name="password" class="form-control">
          </div>

          <button type="submit" class="btn btn-dark">로그인</button>
        </form>
      </div>

    </div>
  </div>


</div>
</body>
</html>
